@model WebApplication2.Models.Identity.CreateRoleModel
@{
    ViewBag.Title = "Create";
}

<h2>AddRole</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary("", true)
        <p>Name: @Html.EditorFor(x => x.Name)</p>
        <p>Description: @Html.EditorFor(x => x.Description)</p>
        <p><input type="submit" value="Add role"/></p>
    </div>
}

