@model WebApplication2.Domain.Entities.Script
@{
    ViewBag.Title = "AddScript";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            <h2>Добавить новый скрипт</h2>
            @if (User.IsInRole("admin"))
            {
                using (Html.BeginForm("AddScript", "Script", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <td>Описание</td>
                            <td>@Html.TextBoxFor(x => x.Description)</td>
                        </tr>
                        <tr>
                            <td>Скрипт</td>
                            <td>@Html.TextBoxFor(x => x.Scripts)</td>
                        </tr>
                    </table>

                    <p>
                        <input type="submit" value="Добавить" class="btn btn-primary"/>
                    </p>
                    
                }
            }
            else
            {
                Response.Redirect("~/Script/Scripts");
            }
        </div>
    </div>
</div>



