@model WebApplication2.Domain.Entities.Script
@{
    ViewBag.Title = "AddScript";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            <h2>Добавить новый скрипт</h2>
            @if (User.IsInRole("admin"))
            {
                using (Html.BeginForm("AddScript", "Script", FormMethod.Post))
                {
                    <div class="form-group">
                        <div>
                            <label>Описание</label>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Description)
                            </div>
                        </div>
                        <div>
                            <label>Скрипт</label>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Scripts)
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Добавить" class="btn btn-primary"/>
                    </div>
                    
                }
            }
            else
            {
                Response.Redirect("~/Script/Scripts");
            }
        </div>
    </div>
</div>



