@model WebApplication2.Domain.Entities.PhoneBook
@{
    ViewBag.Title = "AddPhone";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            <h2>Добавить номер телефона</h2>
            @if (User.IsInRole("admin"))
            {
                using (Html.BeginForm("AddPhone", "Default", FormMethod.Post))
                {
                    <div>
                        <div class="form-group">
                            <label>Почтамт</label>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Pochtamt)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Имя Фамилия</label>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Fio)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Номер телефона</label>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.PhoneNumber)
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Добавить" class="btn btn-primary"/>
                }
            }
            else
            {
                Response.Redirect("~/Default/Phones");
            }
        </div>
    </div>
</div>



