@model WebApplication2.Domain.Entities.PhoneBook
@{
    ViewBag.Title = "EditPhone";
}

<h2>EditPhone</h2>

@if (User.IsInRole("admin"))
{
   using (Html.BeginForm("EditPhone", "Default", FormMethod.Post))
   {
    <table>
        <tr>
            <td>Почтамт</td>
            <td>@Html.TextBoxFor(x => x.Pochtamt)</td>
        </tr>
        <tr>
            <td>Имя Фамилия</td>
            <td>@Html.TextBoxFor(x => x.Fio)</td>
        </tr>
        <tr>
            <td>Номер телефона</td>
            <td>@Html.TextBoxFor(x => x.PhoneNumber)</td>
        </tr>
    </table>

    <input type="submit" value="Сохранить" />
    }
}
else
{
    Response.Redirect("~/ Default / Phones");
}


