@model WebApplication2.Models.Authentication.User
@{
    ViewBag.Title = "Index";
}

@if (Model.IsAuth)
{
    <span class="">Пользователь: @Model.UserName</span>
    @Html.ActionLink("LogOff", "Logoff", "Authencation", null, new
    {
       @class = "glyphicon-log-in"
    })
}
else
{
  @Html.ActionLink("LogIn", "LogIn", "Authencation", null)
    @Html.ActionLink("Register", "Register", "Authencation", null)
}

