@model WebApplication2.Models.Authentication.AuthenticationParams

@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

@section header{
    <span>|</span>
    @Html.ActionLink("Регистрация", "Register", "Authencation")
}

@using (Html.BeginForm("LogIn", "Authencation", FormMethod.Post))
{
    <div class="">
        <table class="">
            <tr>
                <td>
                    Логин:
                </td>
                <td>
                    @Html.TextBoxFor(x => x.User, new
                    {
                        id = "user",
                        name = "user"
                    })
                </td>
            </tr>
        </table>
    </div>
    <div class="">
        <table class="">
            <tr>
                <td>
                    Пароль:
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Password, new
                    {
                        id = "password",
                        name = "password"
                    })
                </td>
            </tr>
        </table>
    </div>

    if (Model.IsAuthFailed)
    {
        <div>
            Ошибка авторизации. Неверный логин или пароль.
        </div>
    }

    <div class="error-messages text-center">
        @Html.ValidationSummary(false)
    </div>

    <input type="submit" value="Login" style="width: 100px; margin: 0 0 0 45%;" />

}

