@model WebApplication2.Models.Authentication.AuthenticationParams

@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
    ViewBag.Title = "Register";
}

@section header
{
    <span>|</span>
    @Html.ActionLink("Логин", "LogIn", "Authencation")
}

@using (Html.BeginForm("Register", "Authencation", FormMethod.Post))
{
    <div>
        <table>
            <tr>
                <td>Логин</td>
                <td>
                    @Html.TextBoxFor(x => x.User, new
               {
                   id = "user",
                   name = "user"
               })
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>Пароль</td>
                <td>
                    @Html.PasswordFor(x => x.Password, new
               {
                   id = "password",
                   name = "password"
               })
                </td>
            </tr>
        </table>
    </div>

    <div>
        @Html.ValidationSummary(false)
    </div>

    <input type="submit" value="Register" />
}
