@model WebApplication2.Domain.Entities.ProblemDecision
@{
    ViewBag.Title = "EditProblemDecision";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            <h2>EditProblemDecision</h2>
            @using (Html.BeginForm("EditProblemDecision", "ProblemDecision", FormMethod.Post))
            {
                <div class="form-group">
                    <div>
                        <label>Проблема</label>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Problem)
                        </div>
                    </div>
                    <div>
                        <label>Решение проблемы</label>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Decision)
                        </div>
                    </div>
                    <div>
                        <label>Версия ЕАС ОПС</label>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.PosVersion)
                        </div>
                    </div>
                    <div>
                        <label>Дата добавления</label>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.DataAdditional)
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Добавить" class="btn btn-primary"/>
                </div>
                
            }
        </div>
    </div>
</div>


